div.cm-box {
  background-color: #f2f2f2;
  border: 1px solid #e3e3e3;
  border-radius: 6px 6px 6px 6px;
  margin: 1em 0;
  max-width: 100%;
  padding: .5em .5em 0;
  position: relative;
}

fieldset#edit-og-node2-und {
  display: none;
}
